@keyframes rotateplane{0%{transform:perspective(120px) rotateX(0deg) rotateY(0deg);}50%{transform:perspective(120px) rotateX(-180.1deg) rotateY(0deg);}100%{transform:perspective(120px) rotateX(-180deg) rotateY(-179.9deg);}}

.container{ width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto }

@media (min-width:576px) { .container{ max-width:540px } }

@media (min-width:768px) { .container{ max-width:720px } }

@media (min-width:992px) { .container{ max-width:960px } }

@media (min-width:1200px) { .container{ max-width:1140px } }

@media (min-width:576px) { .container{ max-width:540px } }

@media (min-width:768px) { .container{ max-width:720px } }

@media (min-width:992px) { .container{ max-width:960px } }

@media (min-width:1200px) { .container{ max-width:1140px } }

.row{ display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px }

.row > .col-md-12, .row > .col-md-4, .row > .col-md-8{ position:relative;width:100%;padding-right:15px;padding-left:15px }

@media (min-width:768px) { .row > .col-md-4{ -ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333% }

.row > .col-md-8{ -ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667% }

.row > .col-md-12{ -ms-flex:0 0 100%;flex:0 0 100%;max-width:100% } }

.btn{ display:inline-block;font-weight:400;color:#212529;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out }

@media (prefers-reduced-motion:reduce) { .btn{ transition:none } }

.btn:hover{ color:#212529;text-decoration:none }

.btn:focus{ outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25) }

.btn:disabled{ opacity:.65 }

.btn:not(:disabled):not(.disabled){ cursor:pointer }

.btn-primary{ color:#fff;background-color:#007bff;border-color:#007bff }

.btn-primary:hover{ color:#fff;background-color:#0069d9;border-color:#0062cc }

.btn-primary:focus{ color:#fff;background-color:#0069d9;border-color:#0062cc;box-shadow:0 0 0 .2rem rgba(38,143,255,.5) }

.btn-primary:disabled{ color:#fff;background-color:#007bff;border-color:#007bff }

.btn-primary:not(:disabled):not(.disabled):active{ color:#fff;background-color:#0062cc;border-color:#005cbf }

.btn-primary:not(:disabled):not(.disabled):active:focus{ box-shadow:0 0 0 .2rem rgba(38,143,255,.5) }

.btn-lg{ padding:.5rem 1rem;font-size:1.25rem;line-height:1.5;border-radius:.3rem }

@keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}

@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

@keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1;-webkit-transform:none;transform:none}}

.align-items-center{ -ms-flex-align:center!important;align-items:center!important }

@media print { a:not(.btn){ text-decoration:underline }

.container{ min-width:992px!important } }

a.btn{ border-radius:2px; }

#front-latest-news .col-md-4{ padding:20px; }

#front-latest-news .col-md-4 h4.field-content{ margin-top:15px;font-family:"Castoro",serif;margin-bottom:-5px; }

#front-latest-news .views-field.views-field-body{ margin-top:3px; }

.frontpage-top-news.views-row h4{ font-size:35px;font-weight:600;margin-top:15px; }

.frontpage-top-news.views-row h4{ font-family:"Castoro",serif;font-weight:normal;margin-bottom:-2px; }

#front-latest-news .col-md-4 h3{ font-size:32px;padding:0 0 10px;font-family:"Castoro",serif; }

#front-latest-news .col-md-8 .btn.btn-lg{ width:100%; }

.col-md-12.frontpage-sidebar-news.views-row hr{ margin-top:1rem;margin-bottom:0.4rem; }

@media (min-width:768px) { #front-latest-news
    .col-md-8
    .field.field--name-field-column-content.field--type-entity-reference-revisions.field--label-hidden.field__items{ padding:0 10px;overflow:hidden; } }

@media screen and (max-width:767px) and (min-width:576px) { #front-latest-news .col-md-8{ margin-top:20px; } }

@media screen and (max-width:575px) { #front-latest-news .col-md-8{ margin-top:20px; } }

.btn-primary{ background-color:var(--main-blue);border-color:var(--main-blue); }

#front-latest-news .col-md-4 h3{ border-bottom:1px solid var(--alt-blue-light); }

.btn-primary:hover, .btn-primary:focus{ background-color:var(--alt-blue); }

#front-latest-news .col-md-4{ background:white; }

.row-pad{ padding:30px 0; }

/* @license GPL-2.0-or-later https://www.drupal.org/licensing/faq */
.col-md-12.frontpage-top-news.views-row .views-field.views-field-field-add-media:first-child{ width:100%;text-align:center;background:white; }

#front-latest-news .frontpage-top-news .field-content img{ width:-webkit-fill-available;width:-moz-available; }

.frontpage-top-news.views-row h4{ margin-top:0;margin-bottom:10px; }

@keyframes fa-spin{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}