@media (min-width:576px) { .container{ max-width:540px } }

@media (min-width:768px) { .container{ max-width:720px } }

@media (min-width:992px) { .container{ max-width:960px } }

@media (min-width:1200px) { .container{ max-width:1140px } }

.row{ display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px }

.row > .col-md-3, .row > .col-md-5, .row > .col-md-6, .row > .col-md-7{ position:relative;width:100%;padding-right:15px;padding-left:15px }

@media (min-width:768px) { .row > .col-md-3{ -ms-flex:0 0 25%;flex:0 0 25%;max-width:25% }

.row > .col-md-5{ -ms-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667% }

.row > .col-md-6{ -ms-flex:0 0 50%;flex:0 0 50%;max-width:50% }

.row > .col-md-7{ -ms-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333% } }

@keyframes progress-bar-stripes{from{background-position:1rem 0}to{background-position:0 0}}

@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

@keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1}}

@media print { .container{ min-width:992px!important } }

.input-ftr input{ 
	font-style: italic
 }

.social-info ul li a:hover{ 
	color: #d80b13
 }

.social-info ul:after{ 
	display: none
 }

footer ul.tel-no li a{ 
	padding: 0
 }

footer ul.tel-no li{ 
	color: #000;
	display: block;
	font-size: 13px;
	font-weight: 400;
	padding: 2px 0
 }

footer ul.tel-no li a{ 
	display: inline;
	color: #000;
	font-size: 13px;
	font-weight: 400;
	padding: 2px 0
 }

.social-info h4{ 
	margin-bottom: 5px
 }

.social-info ul{ 
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
 }

.input-ftr input{ 
	border: none;
	padding: 7px 30px 7px 10px;
	background-color: initial;
	color: #adb5bd;
	width: 100%;
	font-size: 14px
 }

.input-ftr a{ 
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	font-size: 15px;
	padding: 0;
	width: 30px;
	color: #000;
	font-weight: 700;
	text-align: center;
	line-height: 37px
 }

.input-ftr{ 
	position: relative;
	display: block;
	margin-bottom: 30px;
	background: #fff
 }

footer .m-top{ 
	margin-top: 20px
 }

li.linked i{ 
	color: #0073b1
 }

@keyframes blink-animation{
to {
visibility:hidden
}
}

@media only screen and (max-width :767px) { footer .col-md-7{ display:none }

.container{ max-width:1230px;width:100% }

.social-info{ margin-bottom:10px }

footer .col-md-5 ul.tel-no{ margin-bottom:20px }

footer .col-md-5{ text-align:center }

.social-info ul{ justify-content:center }

.input-ftr{ max-width:400px;margin:0 auto 30px }

.social-info ul li a{ margin:0 10px } }

@media (min-width:576px) { @media only screen and (min-width:768px) and (max-width:1023px) { .container{ width:100% }

.container{ max-width:1230px }

footer .col-md-7{ -ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;border-bottom:1px solid #ddd;margin-bottom:30px;padding-bottom:30px }

footer .col-md-5{ -ms-flex:0 0 100%;flex:0 0 100%;max-width:100% }

footer .col-md-7 .col-md-3{ -ms-flex:0 0 25%;flex:0 0 25%;max-width:25% }

.social-info{ margin-bottom:10px } }

@media only screen and (min-width:1024px) and (max-width:1199px) { .container{ max-width:1000px }

.input-ftr input{ font-size:12px } }

@media only screen and (min-width:1200px) and (max-width:1365px) { .input-ftr input{ font-size:13px } } }

.lnr-chevron-right:before{ content:"\e876" }

@keyframes fb_transform{0%{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}

@keyframes rotateSpinner{0%{transform:rotate(0)}to{transform:rotate(360deg)}}