@keyframes cmp-search__loading-indicator-spin{0{transform:rotate(0)}
100%{transform:rotate(360deg)}
}

@keyframes swiper-preloader-spin{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/a99dfa/0000000000000000774e079a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"), url("https://use.typekit.net/af/a99dfa/0000000000000000774e079a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"), url("https://use.typekit.net/af/a99dfa/0000000000000000774e079a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/5928aa/0000000000000000774e079d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"), url("https://use.typekit.net/af/5928aa/0000000000000000774e079d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"), url("https://use.typekit.net/af/5928aa/0000000000000000774e079d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/bfcb85/0000000000000000774e0796/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/bfcb85/0000000000000000774e0796/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/bfcb85/0000000000000000774e0796/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/568007/0000000000000000774e079f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/568007/0000000000000000774e079f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/568007/0000000000000000774e079f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/5c7a81/0000000000000000774e07a8/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"), url("https://use.typekit.net/af/5c7a81/0000000000000000774e07a8/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"), url("https://use.typekit.net/af/5c7a81/0000000000000000774e07a8/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/b61979/0000000000000000774e07a3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/b61979/0000000000000000774e07a3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/b61979/0000000000000000774e07a3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/5e7fac/0000000000000000774e07a5/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/5e7fac/0000000000000000774e07a5/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/5e7fac/0000000000000000774e07a5/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://use.typekit.net/af/254928/0000000000000000774e07a9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/254928/0000000000000000774e07a9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/254928/0000000000000000774e07a9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proxima-nova-extra-bold-df7a3f.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "proxima-nova-wide";
  src: url("https://qiddiya.com/etc.clientlibs/qiddiya-corporate/clientlibs/clientlib-site/resources/fonts/proxima-nova/proxima-nova-extra-bold-it.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face{
  font-family: "29LT-bukra-variable";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-90c601.woff2") format("woff2"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-87ae20.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "29LT-bukra-variable";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-90c601.woff2") format("woff2"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-87ae20.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "29LT-bukra-variable";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-90c601.woff2") format("woff2"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-87ae20.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "29LT-bukra-variable";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-90c601.woff2") format("woff2"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-87ae20.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "29LT-bukra-variable";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-90c601.woff2") format("woff2"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/29ltbukravf-87ae20.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "remixicon";
  src: url("https://qiddiya.com/etc.clientlibs/qiddiya-corporate/clientlibs/clientlib-site/resources/fonts/remix-icons/remixicon.eot"), url("https://qiddiya.com/etc.clientlibs/qiddiya-corporate/clientlibs/clientlib-site/resources/fonts/remix-icons/remixicon.woff") format("woff"), url("https://qiddiya.com/etc.clientlibs/qiddiya-corporate/clientlibs/clientlib-site/resources/fonts/remix-icons/remixicon.woff2") format("woff2"), url("https://qiddiya.com/etc.clientlibs/qiddiya-corporate/clientlibs/clientlib-site/resources/fonts/remix-icons/remixicon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face{
  font-family: "proxima-nova-extra-wide";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proximanovaexwd-regular-f08736.woff2") format("woff2");
  font-display: auto;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-extra-wide";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proximanovaexwd-semibold-7ab728.woff2") format("woff2");
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova-extra-wide";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proximanovaexwd-extrabold-428c18.woff2") format("woff2");
  font-display: auto;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proximanova-regular-16b94e.woff2") format("woff");
  font-display: auto;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proximanova-semibold-142ad5.woff2") format("woff2");
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: "proxima-nova";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/proximanova-extrabold-2baf32.woff2") format("woff");
  font-display: auto;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@font-face{
  font-family: "qd-icomoon";
  src: url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/qd-icomoon-8dba32.ttf") format("truetype"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/font/qd-icomoon-711957.x-font-woff") format("woff"), url("/content/dam/aemigrate/uploaded-folder/qiddiya-com/image/qd-icomoon-7e2935.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@keyframes zoomOutScale{
  from {
    transform: scale(1.08);
  }
  to {
    transform: scale(1);
  }
}

@keyframes containerExpandUp{
  from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom right;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: bottom right;
  }
}

@keyframes imageExpandUp{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown{
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideLeft{
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight{
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes zoomOut{
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes upFadeIn{
  from {
    transform: scaleY(0.1);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

@keyframes zoomOutScale{
  from {
    visibility: visible;
    transform: scale(0.8);
  }
  to {
    visibility: visible;
    transform: scale(1);
  }
}

@keyframes zoomOutScaleRTL{
  from {
    visibility: visible;
    transform: scale(0.8);
  }
  to {
    visibility: visible;
    transform: scale(1);
  }
}

.scarp-component, .scarp_container{ 
  position: relative;
  z-index: 1;
 }

.scarp-separator__scarp{ 
  position: absolute;
 }

.scarp-separator__scarp.green-scarp{ 
  right: 0;
 }

@media (min-width: 1920px) { .scarp_container .green-scarp{ 
    height: 410px;
   } }

@media (min-width: 1025px) and (max-width: 1919px) { .scarp_container .green-scarp{ 
    height: 226px;
    top: 0;
   } }

@media (min-width: 768px) and (max-width: 1024px) { .scarp_container .green-scarp{ 
    height: 133px;
   } }

@media (max-width: 767px) { .scarp-component .scarp_container .green-scarp{ 
    height: 146px;
    top: -10px;
   } }

@keyframes fadeInUp{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes onetrust-fade-in{0%{opacity:0}100%{opacity:1}}

@keyframes otFloatingBtnIntro{0%{opacity:0;left:-75px}100%{opacity:1;left:1%}}

@keyframes otFloatingBtnImageIntro{0%{opacity:0;transform:scale(0) rotate(-270deg)}100%{opacity:100%;transform:scale(0.95) rotate(0deg)}}